<div class="container">
    <div class="card card-body">
        <h1>Welcome</h1>

        <table>
            <tr>
                <td width="20%">
                    <nav>
                        <a routerLink="chatform" routerLinkActive="active">Chat Now</a><br><br>
                    </nav>
                </td>
                <td width="500">
                    <router-outlet></router-outlet>
                </td>
                
            </tr>
        </table>
        
    </div>
</div>
