<script src="/jquery/jquery.js"></script>
<html>
    <body>
        <a href="/logout">Log Out</a>
        Enter student name:  <input type="text"  name="name" id="name" required><br><br>
        Enter student email:  <input type="text"  name="email" id="email" required><br><br>
        Enter student mobile number:  <input type="number"  name="mobile" id="mobile" required><br><br>   
        Enter Student City:  <input type="text"  name="city" id="city" required><br><br>        
        <button class="addbtn">Add Student</button>
       
        <table border="2">
            <thead>
                <td>Name</td>
                <td>Email</td>
                <td>Mobile Number</td>
                <td>City</td>
                <td>Action</td>
            </thead>
            <tbody></tbody>
        </table>
    </body>
</html>
<script src="/data.js"></script>
